h1 {
    border-width: 5px;
    border: dashed blue;
  }

.top-div {
    width: 200px;
    height: 10px;
    position: relative;
    background-color: blue;
}
  
.inner-div {
    width: 100px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: red;
}

/* Answer 3 */
/* .top-div {
    width: 200px;
    height: 10px;
    background: blue;
  }
  
.inner-div {
    width: 100px;
    height: 10px;
    background: red;
    margin: 0 auto;
  } */